*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --comman-padding : 0 8vw;
    --primary-brand-color: #c2f578;
    --primary-text-color: #000;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding: var(--comman-padding);
}
.header-left{
    display: flex;
    align-items: center;
    gap: 6vw;

}

.header-left a{
    display: flex;
    align-items: center;
    color:var(--primary-text-color);
    text-orientation: none;
}

.header-left .logo-container{
    font-size: 28px;
    padding-right: 12px;
}

.header-left a.courses{
    color: #3E3E3E;
}

.header-left .logo-container{
    font-size: 28px;
    font-weight: 700;
}

.header-right button:hover{
    background-color: white;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.header-right button{
    border:none;
    background-color: #000;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
}

.header-right .SignUp{
    margin-right: 24px;
}

/*Header end */

/* main  start */
/* Hero Section Start */

.main{
    padding: var(--comman-padding);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 88vh;
}
.main-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}
.main-right{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.main-right img{
    width: 90%;
}

.main-left .main-heading{
    font-size: large;
    color:#000;
    font-size: 68px;
}
.main-highlight{
    font-weight: bold;
}

.main-left .main-desc{
    color:#96989A
}

.main-left button{
    border: none;
    background-color: var(--primary-brand-color);
    padding: 4px 12px;
}
 
/* Hero Section end */



